h4 {
  text-align: center;
}

p {
  text-align: center;
}

.flashcardSet {
  background-color: #fae7d7;
  aspect-ratio: 5 / 3;
  height: 13.5rem;
  margin: 1rem;
  border-radius: 0.5rem;
}

.label {
  padding: 2rem 2rem 0rem 2rem;
}